.place__title {
  grid-area: title;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  margin: 0;
  align-self: end;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    letter-spacing: .9px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    padding: 0 16px;
  }
}
