.place__image {
  grid-area: img;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

/*@media screen and (max-width: 320px) {*/
/*  .place__image {*/
/*    width: 320px;*/
/*  }*/

/*}*/
