.place__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  margin: 26px 0 0;
}

.place__paragraph:first-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.62;
    margin: 25px 0 0;
  }
}
