.cover__title {
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  margin: 0;
  max-width: 560px;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: calc( 32px + 40 * (100vw - 320px) / 447);
    line-height: 1.09;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
  }
}
